/* .inputContainer {
  background: linear-gradient(49deg, #c5a73f, transparent);
  form {
    display: flex;
    justify-content: flex-end;
    
  }
} */

.inputContainer {
  
  background: linear-gradient(49deg, #c5a73f, transparent);
}
.formStyle {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.inputName {
  display: inline-block;
  width: 200px;
  margin-right: 10px;

}


 .inputStyle {
  margin: 59px 53px;
  margin-left: 66px;
  width: 389px;
  height: 69px;
  border-radius: 15px;
  border-color: #aed7c4;
}

  

/* .formStyle {
  width: 80%;
} */