.pagesCards {
  display: flex;
  flex-wrap: wrap;
  color: #915f5f;
  justify-content: space-between;
  /* margin: 140px 42px; */
}

.errorStyle {
  display: flex;
  color: red;
  height: 381px;
  margin: 222px 268px 171px 268px;
  background-color: blanchedalmond;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;

}
.errorStyle p, 
.errorStyle h3 {
  font-size: 16px;
  font-family: cursive;
  margin-top: -11px;
  color: red;
  position: relative;
  top: 73px;
  
}

.errorStyle img {
  height: 200px;
    width: 200px;
    position: relative;
    top: 81px;
}
  
.pagesTextTitulo {
  background-color: #85603538;
  border-radius: 43px;
  color: #915f5f;
  width: 89%;
  height: 8%;
  padding: 30px 11px 34px 14px;
  font-family: cursive;
  margin: -32px 0px -18px 5px;
  /* font-size: 20px; */
  font-size: 1.3vw;
  /* font-size: 1rem;*/
  }
  
  @media screen and (max-width: 576px) {
    .pagesTextTitulo {
      width: 84%;
      font-size: 14px;
    }
  }


.pagesNav {
  
  text-decoration: none;
}

.dietsContainer {
  color: #915f5f;
  width: calc(36.33% - 108px);
  height: 560px;
  margin-left: 34px;
  margin-right: 34px;
  position: relative;
  top: 200px;
}


.dietsContainer img {
  height: 39%;
    width: 87%;
    border-radius: 50px;
    box-shadow: 17px -11px 44px rgb(44 56 51 / 64%);
    padding: 15px 15px 225px 15px;
    background: #e2ddc6;
}

.dietsSpan {
  display: flex;
  color: #915f5f;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 15px;
  margin-right: 15px;
 
  
}


.dietss {
  background-color: #ffffff;
    border-radius: 50px;
    padding: 4px 15px;
    margin: 4px;
    font-size: 13px;
    font-family: cursive;
    box-sizing: border-box;
    position: relative;
    top: -215px;
}

.healthScore {
  margin-top: -213px;
  
 }

 @media (max-width: 576px) {
  .pagesCards {
    display: flex;
    flex-wrap: wrap;
  }

  .dietsContainer {
    width: calc(65% - 88px);
    height: 504px;
    margin: -1%;
  }
  .dietsContainer img {
   height: 28%;
    width: 86%;
  }
  .dietss {
    margin: 1px;
    font-size: 9px;
  }
}